name: Build Linux Artifacts

on:
  workflow_dispatch:
    inputs:
      tags:
        description: "Version tags"

jobs:
  build:
    runs-on: "ubuntu-22.04"
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Download Dockerfile and build script
      run: |
        curl -L -o Dockerfile https://github.com/feishu/yao/blob/main/docker/build/Dockerfile?raw=true
        curl -L -o build.sh https://github.com/feishu/yao/blob/main/docker/build/build.sh?raw=true
        chmod +x ./build.sh

    - name: Build Docker image
      run: |
        docker build -t yao-build -f Dockerfile .
        
    - name: Run Docker container and execute build script
      run: |
        # 获取当前工作目录的路径
        rm -rf ./data/*
        docker run --rm -v ./data:/data yao-build /app/build.sh
        ls -l ./data

    - name: Archive production artifacts
      uses: actions/upload-artifact@v4
      with:
        name: yao-linux
        path: |
          ./data/*

    # - name: Install Coscmd
    #   run: |
    #     sudo apt-get install -y python3-venv
    #     python3 -m venv /python3/venv
    #     /python3/venv/bin/python -m pip install coscmd
    #     /python3/venv/bin/coscmd -v

    # - name: Configure COS For Silicon Valley
    #   env:
    #     SECRET_ID: ${{ secrets.COS_ID }}
    #     SECRET_KEY: ${{ secrets.COS_KEY }}
    #     BUCKET: release-sv-1252011659
    #     REGION: na-siliconvalley
    #   run: |
    #     /python3/venv/bin/coscmd config -a $SECRET_ID -s $SECRET_KEY -b $BUCKET -r $REGION

    # - name: Push To Silicon Valley
    #   run: |
    #     for file in ./data/*; do
    #       /python3/venv/bin/coscmd upload "$file" /archives/
    #     done
